.logo {
  width: 50px;
  height: 50px;
}

.logo-container {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  padding: 20px 2rem;
  background-color: #242424;
  color: white;
  align-items: center;
}

.search-container{
  display: flex;
  align-items: center;
}
.search-container input {
  width: calc(50vw - 150px);
  padding: 15px 20px 15px 40px;
  border-radius: 20px;
  border: none;
  background-color: #333333;
  color: white;
  transition: .3s;
  outline: 1px solid #646cff00;
}
.search-container input:hover {
  outline: 1px solid #ff0000fd;
  transition: .3s;
}

.search-container input::placeholder {
  color: #ffffff5d;
}

.search-container input:focus {
  outline: 1px solid #ff0000fd;
}
.search-icon{
  position: absolute;
  margin-left: 15px;
  color: #ffffffc9;
}
.log-reg-container{
  justify-self: end;
}
main{
  display: grid;
  grid-template-columns: 1fr 64fr;
  gap: 2rem;
  padding: 2rem;
}
nav{
  height: 80vh;
  display: grid;
  align-items: start;
  grid-template-rows: calc(1.1rem * 12) [row-start] calc(1.1rem * 12) [row-start];
}
nav ul{
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  border-radius: 50px;
}
nav i{
  font-size: 1.2rem;
  color: #ffffffff;
  transition: .5s;
}
nav li{
  border-radius: 50%;
  transition: .5s;
}
nav li a{
  display: block;
  padding: 1.2rem .65rem;
}
nav li:hover{
  background: rgba(255, 255, 255, 1);
  border-radius: 50px;
  transition: .5s;
}
nav li:hover i{
  color: #ff0000fd;
  transition: .5s;
}
ul{
  list-style: none;
}
li{
  list-style: none;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
nav .bottom{
  align-self: end;
}
.rotate-180{
  transform: rotate(180deg);
}

/* NOTES PAGE */
.notes-container{
  position: relative;
  top: 30px;
}
.notes{
  display:grid;
  grid-template-columns: repeat(auto-fit, 210px); 
  grid-auto-rows: 210px;
  align-items: center;
  justify-items: center;
}
.add-note{
  display: inline-flex!important;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.note-box{
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  transition: .3s;
}
.note-box:hover{
  transition: .3s;
  cursor: pointer;
}
.note-box h3{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-box p{
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}